
[main]
host = "https://www.transifex.com"
lang_map = ""

[test-project-88.samplepo]
file_filter = "translations/<lang>/sample.po"
source_file = "sample.po"
source_lang = "en"
type = "PO"

[test-project-88.another_samplepo]
file_filter = "translations/<lang>/another_sample.po"
source_file = "another_sample.po"
source_lang = "en"
type = "PO"

