[main]
host = https://www.transifex.com

[juno.enjson]
file_filter = ./src/translations/locales/
source_file = en.json
source_lang = en
type = JSON

[web-23.controllers]
file_filter = ./config/locales/better_locales/controllers
source_file = en.yml
source_lang = en
type = YML

[web-23.mailers]
file_filter = ./config/locales/better_locales/mailers
source_file = ./Where/Source/Files.Are
source_lang = <source lang>
type = YML

[web-23.views]
file_filter = ./config/locales/better_locales/views
source_file = en.yml
source_lang = en
type = YML
