---
http_interactions:
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resources/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 04 Oct 2016 21:42:30 GMT
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"sample.po\", \n        \"i18n_type\": \"PO\", \n        \"priority\": \"1\",
        \n        \"slug\": \"samplepo-heads_master\", \n        \"categories\": [\n
        \           \"\"\n        ]\n    }, \n    {\n        \"source_language_code\":
        \"en\", \n        \"name\": \"sample.po\", \n        \"i18n_type\": \"PO\",
        \n        \"priority\": \"0\", \n        \"slug\": \"samplepo\", \n        \"categories\":
        [\n            \"branch:refs/tags/L10N\", \n            \"author:Txgh Bot\"\n
        \       ]\n    }, \n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"test.yml\", \n        \"i18n_type\": \"YML\", \n        \"priority\": \"1\",
        \n        \"slug\": \"testyml-heads_change_some_shizz\", \n        \"categories\":
        [\n            \"author:Cameron_Dutro branch:heads/change_some_shizz\"\n        ]\n
        \   }, \n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"test.yml\", \n        \"i18n_type\": \"YML\", \n        \"priority\": \"0\",
        \n        \"slug\": \"testyml-heads_master\", \n        \"categories\": [\n
        \           \"branch:heads/master\"\n        ]\n    }\n]"
  recorded_at: Tue, 04 Oct 2016 21:42:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1475620950'
      Etag:
      - W/"a5fe675407899fa4460005cce07b9fe2"
      Last-Modified:
      - Mon, 11 Jan 2016 23:45:43 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master","object":{"sha":"f3edb21f027b70974750649ba29b0090e410ecde","type":"commit","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits/f3edb21f027b70974750649ba29b0090e410ecde"}}'
  recorded_at: Tue, 04 Oct 2016 21:42:30 GMT
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resource/samplepo/stats/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 04 Oct 2016 21:42:31 GMT
    body:
      encoding: UTF-8
      string: "{\n    \"el_GR\": {\n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"0%\", \n        \"untranslated_words\": 10, \n        \"last_commiter\":
        \"\", \n        \"reviewed\": 0, \n        \"translated_entities\": 0, \n
        \       \"translated_words\": 0, \n        \"last_update\": \"2016-01-19 19:08:25\",
        \n        \"untranslated_entities\": 10\n    }, \n    \"ru\": {\n        \"reviewed_percentage\":
        \"0%\", \n        \"completed\": \"0%\", \n        \"untranslated_words\":
        10, \n        \"last_commiter\": \"txgh.bot\", \n        \"reviewed\": 0,
        \n        \"translated_entities\": 0, \n        \"translated_words\": 0, \n
        \       \"last_update\": \"2016-04-01 05:36:37\", \n        \"untranslated_entities\":
        10\n    }, \n    \"en\": {\n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"100%\", \n        \"untranslated_words\": 0, \n        \"last_commiter\":
        \"txgh.bot\", \n        \"reviewed\": 0, \n        \"translated_entities\":
        10, \n        \"translated_words\": 10, \n        \"last_update\": \"2016-01-19
        19:08:25\", \n        \"untranslated_entities\": 0\n    }\n}"
  recorded_at: Tue, 04 Oct 2016 21:42:31 GMT
- request:
    method: post
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde
    body:
      encoding: UTF-8
      string: '{"context":"continuous-localization/txgh","target_url":"https://www.transifex.com//test-project-88/content","description":"10/30
        translations complete.","state":"pending"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1475620950'
      Etag:
      - '"592996d2e58de58405c11218b79e486a"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde","id":785751432,"state":"pending","description":"10/30
        translations complete.","target_url":"https://www.transifex.com//test-project-88/content","context":"continuous-localization/txgh","created_at":"2016-10-04T21:42:31Z","updated_at":"2016-10-04T21:42:31Z","creator":{"login":"txgh-bot","id":16723366,"avatar_url":"https://avatars.githubusercontent.com/u/16723366?v=3","gravatar_id":"","url":"https://api.github.com/users/txgh-bot","html_url":"https://github.com/txgh-bot","followers_url":"https://api.github.com/users/txgh-bot/followers","following_url":"https://api.github.com/users/txgh-bot/following{/other_user}","gists_url":"https://api.github.com/users/txgh-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/txgh-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/txgh-bot/subscriptions","organizations_url":"https://api.github.com/users/txgh-bot/orgs","repos_url":"https://api.github.com/users/txgh-bot/repos","events_url":"https://api.github.com/users/txgh-bot/events{/privacy}","received_events_url":"https://api.github.com/users/txgh-bot/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 04 Oct 2016 21:42:31 GMT
recorded_with: VCR 3.0.3
