---
http_interactions:
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_master/translation/de/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"content": "en:\n  test: test\n  test2: test2\n  test3: test3\n  test4:
        test4\n  test5: test5\n  test6: test6\n  test7: test7\n  test8: test8\n  test9:
        test9\n  test10: test10\n  test11: \"\"\n", "mimetype": "text/plain"}'
  recorded_at: Thu, 26 Mar 2020 18:06:24 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/files/config%2Flocales%2Fde.yml?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e84d1b5f33f395004d2907482fb6dc4a"
      X-Gitlab-Blob-Id:
      - 40ee703622d33b3d3e9cf0a6bfccf343ef6803d9
      X-Gitlab-Commit-Id:
      - 749c760c4d7b630d28e32f9fc1e021a70bfd4779
      X-Gitlab-Content-Sha256:
      - f93c177a9eacf7f2d3d4a33f353d9d94dbd884fd68897a7a24893ce5a24f5721
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - de.yml
      X-Gitlab-File-Path:
      - config/locales/de.yml
      X-Gitlab-Last-Commit-Id:
      - 04151b55df42794241ec36b772e8de4c2f944a97
      X-Gitlab-Ref:
      - master
      X-Gitlab-Size:
      - '193'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1585246045'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:07:25 GMT
      Gitlab-Lb:
      - fe-18-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_name":"de.yml","file_path":"config/locales/de.yml","size":193,"encoding":"base64","content_sha256":"f93c177a9eacf7f2d3d4a33f353d9d94dbd884fd68897a7a24893ce5a24f5721","ref":"master","blob_id":"40ee703622d33b3d3e9cf0a6bfccf343ef6803d9","commit_id":"749c760c4d7b630d28e32f9fc1e021a70bfd4779","last_commit_id":"04151b55df42794241ec36b772e8de4c2f944a97","content":"ZGU6CiAgdGVzdDogInRlc3QiCiAgdGVzdDI6ICJ0ZXN0MiIKICB0ZXN0MzogInRlc3QzIgogIHRlc3Q0OiAidGVzdDQiCiAgdGVzdDU6ICJ0ZXN0NSIKICB0ZXN0NjogInRlc3Q2IgogIHRlc3Q3OiAidGVzdDciCiAgdGVzdDg6ICJ0ZXN0OCIKICB0ZXN0OTogInRlc3Q5IgogIHRlc3QxMDogInRlc3QxMCIKICB0ZXN0MTE6ICJ0ZXN0MTEiCg=="}'
  recorded_at: Thu, 26 Mar 2020 18:06:25 GMT
- request:
    method: put
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/files/config%2Flocales%2Fde.yml
    body:
      encoding: UTF-8
      string: branch=master&commit_message=Updating%20de%20translations%20in%20config%2Flocales%2Fde.yml&encoding=base64&content=ZW46CiAgdGVzdDogdGVzdAogIHRlc3QyOiB0ZXN0MgogIHRlc3QzOiB0ZXN0%0AMwogIHRlc3Q0OiB0ZXN0NAogIHRlc3Q1OiB0ZXN0NQogIHRlc3Q2OiB0ZXN0%0ANgogIHRlc3Q3OiB0ZXN0NwogIHRlc3Q4OiB0ZXN0OAogIHRlc3Q5OiB0ZXN0%0AOQogIHRlc3QxMDogdGVzdDEwCiAgdGVzdDExOiAiIgo%3D%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f4100ecd3edaafd2ee9db28801b5446"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1585246046'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:07:26 GMT
      Gitlab-Lb:
      - fe-07-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_path":"config/locales/de.yml","branch":"master"}'
  recorded_at: Thu, 26 Mar 2020 18:06:26 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resources/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"config/locales/en.yml (heads/master)\", \n        \"i18n_type\": \"YAML_GENERIC\",
        \n        \"priority\": \"0\", \n        \"slug\": \"enyml-heads_master\",
        \n        \"categories\": [\n            \"branch:heads/master\", \n            \"author:Ivan_Danci\"\n
        \       ], \n        \"metadata\": []\n    }, \n    {\n        \"source_language_code\":
        \"en\", \n        \"name\": \"config/locales/en.yml (heads/test_hook)\", \n
        \       \"i18n_type\": \"YML\", \n        \"priority\": \"1\", \n        \"slug\":
        \"enyml-heads_test_hook\", \n        \"categories\": [\n            \"author:Ivan_Danci
        branch:heads/test_hook\"\n        ], \n        \"metadata\": []\n    }\n]"
  recorded_at: Thu, 26 Mar 2020 18:06:27 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/commits/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7500016242ad2a97736263ec121e2db"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '596'
      Ratelimit-Reset:
      - '1585246048'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:07:28 GMT
      Gitlab-Lb:
      - fe-12-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","short_id":"b85b0a27","created_at":"2020-03-26T18:06:25.000+00:00","parent_ids":["749c760c4d7b630d28e32f9fc1e021a70bfd4779"],"title":"Updating
        de translations in config/locales/de.yml","message":"Updating de translations
        in config/locales/de.yml","author_name":"Ivan Danci","author_email":"danci.ivan@gmail.com","authored_date":"2020-03-26T18:06:25.000+00:00","committer_name":"Ivan
        Danci","committer_email":"danci.ivan@gmail.com","committed_date":"2020-03-26T18:06:25.000+00:00","web_url":"https://gitlab.com/idanci/txgl-test/-/commit/b85b0a277fcf7818d880f3fe67afc8fea04572c2","stats":{"additions":12,"deletions":12,"total":24},"status":null,"project_id":17514841,"last_pipeline":null}'
  recorded_at: Thu, 26 Mar 2020 18:06:28 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_master/stats/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"de\": {\n        \"proofread\": 0, \n        \"proofread_percentage\":
        \"0%\", \n        \"reviewed_percentage\": \"90%\", \n        \"completed\":
        \"90%\", \n        \"untranslated_words\": 1, \n        \"last_commiter\":
        \"txgh.user\", \n        \"reviewed\": 10, \n        \"translated_entities\":
        10, \n        \"translated_words\": 10, \n        \"last_update\": \"2020-03-23
        13:49:42\", \n        \"untranslated_entities\": 1\n    }, \n    \"en\": {\n
        \       \"proofread\": 0, \n        \"proofread_percentage\": \"0%\", \n        \"reviewed_percentage\":
        \"0%\", \n        \"completed\": \"100%\", \n        \"untranslated_words\":
        0, \n        \"last_commiter\": \"txgh.user\", \n        \"reviewed\": 0,
        \n        \"translated_entities\": 11, \n        \"translated_words\": 11,
        \n        \"last_update\": \"2020-03-23 13:49:42\", \n        \"untranslated_entities\":
        0\n    }\n}"
  recorded_at: Thu, 26 Mar 2020 18:06:29 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/statuses/b85b0a27?context=continuous-localization/txgh&description=21/22%20translations%20complete.&state=pending&target_url=https://www.transifex.com/lumos-labs/txgl-test/content
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbb9133b984a0b7616d3e7c97bb11d2e"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '6'
      Ratelimit-Remaining:
      - '594'
      Ratelimit-Reset:
      - '1585246050'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:07:30 GMT
      Gitlab-Lb:
      - fe-22-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":487277484,"sha":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","ref":"master","status":"pending","name":"continuous-localization/txgh","target_url":"https://www.transifex.com/lumos-labs/txgl-test/content","description":"21/22
        translations complete.","created_at":"2020-03-26T18:06:30.056Z","started_at":null,"finished_at":null,"allow_failure":false,"coverage":null,"author":{"id":745271,"name":"Ivan
        Danci","username":"idanci","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dbda838e9b7bca615829ac151e01f3c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/idanci"}}'
  recorded_at: Thu, 26 Mar 2020 18:06:30 GMT
recorded_with: VCR 3.0.3
