---
http_interactions:
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/languages/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"coordinators\": [\n            \"txgh.bot\"\n        ],
        \n        \"language_code\": \"el_GR\", \n        \"translators\": [], \n
        \       \"reviewers\": []\n    }\n]"
  recorded_at: Wed, 28 Sep 2016 18:33:51 GMT
recorded_with: VCR 3.0.3
