---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/files/config%2Flocales%2Fen.yml?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"393b1655fc6f3f1324db565e7aa117ee"
      X-Gitlab-Blob-Id:
      - cbaa99dcf14f0ff8b50422925fd7f6955a112f23
      X-Gitlab-Commit-Id:
      - b85b0a277fcf7818d880f3fe67afc8fea04572c2
      X-Gitlab-Content-Sha256:
      - c97a60f63c623c758a7138c150f1c9753d1726bbd88813d2f2b50c298a8b3a52
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - en.yml
      X-Gitlab-File-Path:
      - config/locales/en.yml
      X-Gitlab-Last-Commit-Id:
      - f4db8ab452d257ad974dcfa35fa3e2228374fda6
      X-Gitlab-Ref:
      - master
      X-Gitlab-Size:
      - '171'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '597'
      Ratelimit-Reset:
      - '1585249047'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:57:27 GMT
      Gitlab-Lb:
      - fe-17-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_name":"en.yml","file_path":"config/locales/en.yml","size":171,"encoding":"base64","content_sha256":"c97a60f63c623c758a7138c150f1c9753d1726bbd88813d2f2b50c298a8b3a52","ref":"master","blob_id":"cbaa99dcf14f0ff8b50422925fd7f6955a112f23","commit_id":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","last_commit_id":"f4db8ab452d257ad974dcfa35fa3e2228374fda6","content":"ZW46CiAgdGVzdDogdGVzdAogIHRlc3QyOiB0ZXN0MgogIHRlc3QzOiB0ZXN0MwogIHRlc3Q0OiB0ZXN0NAogIHRlc3Q1OiB0ZXN0NQogIHRlc3Q2OiB0ZXN0NgogIHRlc3Q3OiB0ZXN0NwogIHRlc3Q4OiB0ZXN0OAogIHRlc3Q5OiB0ZXN0OQogIHRlc3QxMDogdGVzdDEwCiAgdGVzdDExOiB0ZXN0MTEK"}'
  recorded_at: Thu, 26 Mar 2020 18:56:27 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"en\", \n    \"name\": \"config/locales/en.yml
        (heads/master)\", \n    \"i18n_type\": \"YAML_GENERIC\", \n    \"priority\":
        \"0\", \n    \"slug\": \"enyml-heads_master\", \n    \"categories\": [\n        \"branch:heads/master\",
        \n        \"author:Ivan_Danci\"\n    ], \n    \"metadata\": []\n}"
  recorded_at: Thu, 26 Mar 2020 18:56:28 GMT
[...]
- request:
    method: put
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_master/content/
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-d44360acb0b72ed23730a3d9f86add0f\r\nContent-Disposition:
        form-data; name=\"content\"; filename=\"en.yml\"\r\nContent-Length: 171\r\nContent-Type:
        application/octet-stream\r\nContent-Transfer-Encoding: binary\r\n\r\nen:\n
        \ test: test\n  test2: test2\n  test3: test3\n  test4: test4\n  test5: test5\n
        \ test6: test6\n  test7: test7\n  test8: test8\n  test9: test9\n  test10:
        test10\n  test11: test11\n\r\n-------------RubyMultipartPost-d44360acb0b72ed23730a3d9f86add0f--\r\n"
    headers:
      Authorization:
      - Basic AUTH
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-d44360acb0b72ed23730a3d9f86add0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"strings_added": 0, "strings_updated": 0, "strings_delete": 0, "redirect":
        "/lumos-labs/txgl-test/enyml-heads_master/"}'
  recorded_at: Thu, 26 Mar 2020 18:56:30 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resources/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"config/locales/en.yml (heads/master)\", \n        \"i18n_type\": \"YAML_GENERIC\",
        \n        \"priority\": \"0\", \n        \"slug\": \"enyml-heads_master\",
        \n        \"categories\": [\n            \"branch:heads/master\", \n            \"author:Ivan_Danci\"\n
        \       ], \n        \"metadata\": []\n    }, \n    {\n        \"source_language_code\":
        \"en\", \n        \"name\": \"config/locales/en.yml (heads/test_hook)\", \n
        \       \"i18n_type\": \"YML\", \n        \"priority\": \"1\", \n        \"slug\":
        \"enyml-heads_test_hook\", \n        \"categories\": [\n            \"author:Ivan_Danci
        branch:heads/test_hook\"\n        ], \n        \"metadata\": []\n    }\n]"
  recorded_at: Thu, 26 Mar 2020 18:56:30 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/commits/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22996df3cf5683f295021cdaa741b3cd"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '596'
      Ratelimit-Reset:
      - '1585249051'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:57:31 GMT
      Gitlab-Lb:
      - fe-08-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","short_id":"b85b0a27","created_at":"2020-03-26T18:06:25.000+00:00","parent_ids":["749c760c4d7b630d28e32f9fc1e021a70bfd4779"],"title":"Updating
        de translations in config/locales/de.yml","message":"Updating de translations
        in config/locales/de.yml","author_name":"Ivan Danci","author_email":"danci.ivan@gmail.com","authored_date":"2020-03-26T18:06:25.000+00:00","committer_name":"Ivan
        Danci","committer_email":"danci.ivan@gmail.com","committed_date":"2020-03-26T18:06:25.000+00:00","web_url":"https://gitlab.com/idanci/txgl-test/-/commit/b85b0a277fcf7818d880f3fe67afc8fea04572c2","stats":{"additions":12,"deletions":12,"total":24},"status":"failed","project_id":17514841,"last_pipeline":{"id":130120496,"sha":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","ref":"master","status":"failed","created_at":"2020-03-26T18:06:29.999Z","updated_at":"2020-03-26T18:56:06.184Z","web_url":"https://gitlab.com/idanci/txgl-test/pipelines/130120496"}}'
  recorded_at: Thu, 26 Mar 2020 18:56:31 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_master/stats/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"de\": {\n        \"proofread\": 0, \n        \"proofread_percentage\":
        \"0%\", \n        \"reviewed_percentage\": \"90%\", \n        \"completed\":
        \"90%\", \n        \"untranslated_words\": 1, \n        \"last_commiter\":
        \"txgh.user\", \n        \"reviewed\": 10, \n        \"translated_entities\":
        10, \n        \"translated_words\": 10, \n        \"last_update\": \"2020-03-23
        13:49:42\", \n        \"untranslated_entities\": 1\n    }, \n    \"en\": {\n
        \       \"proofread\": 0, \n        \"proofread_percentage\": \"0%\", \n        \"reviewed_percentage\":
        \"0%\", \n        \"completed\": \"100%\", \n        \"untranslated_words\":
        0, \n        \"last_commiter\": \"txgh.user\", \n        \"reviewed\": 0,
        \n        \"translated_entities\": 11, \n        \"translated_words\": 11,
        \n        \"last_update\": \"2020-03-23 13:49:42\", \n        \"untranslated_entities\":
        0\n    }\n}"
  recorded_at: Thu, 26 Mar 2020 18:56:32 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/statuses/b85b0a27?context=continuous-localization/txgh&description=21/22%20translations%20complete.&state=pending&target_url=https://www.transifex.com/lumos-labs/txgl-test/content
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c61244aebb806d6a83e059de81b63dd"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '5'
      Ratelimit-Remaining:
      - '595'
      Ratelimit-Reset:
      - '1585249053'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 18:57:33 GMT
      Gitlab-Lb:
      - fe-21-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":487338432,"sha":"b85b0a277fcf7818d880f3fe67afc8fea04572c2","ref":"master","status":"pending","name":"continuous-localization/txgh","target_url":"https://www.transifex.com/lumos-labs/txgl-test/content","description":"21/22
        translations complete.","created_at":"2020-03-26T18:56:33.574Z","started_at":null,"finished_at":null,"allow_failure":false,"coverage":null,"author":{"id":745271,"name":"Ivan
        Danci","username":"idanci","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dbda838e9b7bca615829ac151e01f3c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/idanci"}}'
  recorded_at: Thu, 26 Mar 2020 18:56:33 GMT
recorded_with: VCR 3.0.3
