---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/contents/sample.po?ref=heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1475620950'
      Etag:
      - W/"ca21dd4542518306953e22c1859714a6"
      Last-Modified:
      - Wed, 27 Apr 2016 17:33:49 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"sample.po","path":"sample.po","sha":"a93e31a00137e0bd23db5bc7720568f8e908b2b6","size":855,"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/contents/sample.po?ref=heads/master","html_url":"https://github.com/txgh-bot/txgh-test-resources/blob/heads/master/sample.po","git_url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/a93e31a00137e0bd23db5bc7720568f8e908b2b6","download_url":"https://raw.githubusercontent.com/txgh-bot/txgh-test-resources/heads/master/sample.po","type":"file","content":"IyBUcmFuc2xhdGlvbiBmaWxlIGZvciBUcmFuc2lmZXguCiMgQ29weXJpZ2h0\nIChDKSAyMDA3LTIwMTAgSW5kaWZleCBMdGQuCiMgVGhpcyBmaWxlIGlzIGRp\nc3RyaWJ1dGVkIHVuZGVyIHRoZSBzYW1lIGxpY2Vuc2UgYXMgdGhlIFRyYW5z\naWZleCBwYWNrYWdlLgojCiMgVHJhbnNsYXRvcnM6Cm1zZ2lkICIiCm1zZ3N0\nciAiIgoiUHJvamVjdC1JZC1WZXJzaW9uOiBUcmFuc2lmZXhcbiIKIlJlcG9y\ndC1Nc2dpZC1CdWdzLVRvOiBcbiIKIlBPVC1DcmVhdGlvbi1EYXRlOiAyMDE1\nLTAyLTE3IDIwOjEwKzAwMDBcbiIKIlBPLVJldmlzaW9uLURhdGU6IDIwMTMt\nMTAtMjIgMTA6NTcrMDAwMFxuIgoiTGFzdC1UcmFuc2xhdG9yOiBJbGlhcy1E\naW1pdHJpb3MgVnJhY2huaXNcbiIKIkxhbmd1YWdlLVRlYW06IExBTkdVQUdF\nIDxMTEBsaS5vcmc+XG4iCiJMYW5ndWFnZTogZW5cbiIKIk1JTUUtVmVyc2lv\nbjogMS4wXG4iCiJDb250ZW50LVR5cGU6IHRleHQvcGxhaW47IGNoYXJzZXQ9\nVVRGLThcbiIKIkNvbnRlbnQtVHJhbnNmZXItRW5jb2Rpbmc6IDhiaXRcbiIK\nIlBsdXJhbC1Gb3JtczogbnBsdXJhbHM9MjsgcGx1cmFsPShuICE9IDEpO1xu\nIgptc2dpZCAiT25lIgptc2dzdHIgIk9uZSIKbXNnaWQgIlR3byIKbXNnc3Ry\nICJUd28iCm1zZ2lkICJUaHJlZSIKbXNnc3RyICJUaHJlZSIKbXNnaWQgIkZv\ndXIiCm1zZ3N0ciAiRm91ciIKbXNnaWQgIkZpdmUiCm1zZ3N0ciAiRml2ZSIK\nbXNnaWQgIlNpeCIKbXNnc3RyICJTaXgiCm1zZ2lkICJTZXZlbiIKbXNnc3Ry\nICJTZXZlbiIKbXNnaWQgIkVpZ2h0Igptc2dzdHIgIkVpZ2h0Igptc2dpZCAi\nTmluZSIKbXNnc3RyICJOaW5lIgptc2dpZCAiVGVuIgptc2dzdHIgIlRlbiIK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/txgh-bot/txgh-test-resources/contents/sample.po?ref=heads/master","git":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/a93e31a00137e0bd23db5bc7720568f8e908b2b6","html":"https://github.com/txgh-bot/txgh-test-resources/blob/heads/master/sample.po"}}'
  recorded_at: Tue, 04 Oct 2016 21:42:32 GMT
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resource/samplepo-heads_master/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 04 Oct 2016 21:42:32 GMT
    body:
      encoding: UTF-8
      string: "{\n    \"source_language_code\": \"en\", \n    \"name\": \"sample.po\",
        \n    \"i18n_type\": \"PO\", \n    \"priority\": \"1\", \n    \"slug\": \"samplepo-heads_master\",
        \n    \"categories\": [\n        \"\"\n    ]\n}"
  recorded_at: Tue, 04 Oct 2016 21:42:32 GMT
[...]
- request:
    method: put
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resource/samplepo-heads_master/content/
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"content\";
        filename=\"sample.po\"\r\nContent-Length: 855\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\n# Translation file for Transifex.\n# Copyright (C) 2007-201[...]
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resources/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 04 Oct 2016 21:42:35 GMT
    body:
      encoding: UTF-8
      string: "[\n    {\n        \"source_lan[...]
- request:
    method: get
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1475620950'
      Etag:
      - W/"a5fe675407899fa4460005cce07b9fe2"
      Last-Modified:
      - Mon, 11 Jan 2016 23:45:43 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master","object":{"sha":"f3edb21f027b70974750649ba29b0090e410ecde","type":"commit","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits/f3edb21f027b70974750649ba29b0090e410ecde"}}'
  recorded_at: Tue, 04 Oct 2016 21:42:36 GMT
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resource/samplepo/stats/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 04 Oct 2016 21:42:36 GMT
    body:
      encoding: UTF-8
      string: "{\n    \"el_GR\": {\n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"0%\", \n        \"untranslated_words\": 10, \n        \"last_commiter\":
        \"\", \n        \"reviewed\": 0, \n        \"translated_entities\": 0, \n
        \       \"translated_words\": 0, \n        \"last_update\": \"2016-01-19 19:08:25\",
        \n        \"untranslated_entities\": 10\n    }, \n    \"ru\": {\n        \"reviewed_percentage\":
        \"0%\", \n        \"completed\": \"0%\", \n        \"untranslated_words\":
        10, \n        \"last_commiter\": \"txgh.bot\", \n        \"reviewed\": 0,
        \n        \"translated_entities\": 0, \n        \"translated_words\": 0, \n
        \       \"last_update\": \"2016-04-01 05:36:37\", \n        \"untranslated_entities\":
        10\n    }, \n    \"en\": {\n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"100%\", \n        \"untranslated_words\": 0, \n        \"last_commiter\":
        \"txgh.bot\", \n        \"reviewed\": 0, \n        \"translated_entities\":
        10, \n        \"translated_words\": 10, \n        \"last_update\": \"2016-01-19
        19:08:25\", \n        \"untranslated_entities\": 0\n    }\n}"
  recorded_at: Tue, 04 Oct 2016 21:42:36 GMT
- request:
    method: post
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde
    body:
      encoding: UTF-8
      string: '{"context":"continuous-localization/txgh","target_url":"https://www.transifex.com//test-project-88/content","description":"10/30
        translations complete.","state":"pending"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1475620950'
      Etag:
      - '"6483028daa3a954b7246a97a01b90f7f"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/statuses/f3edb21f027b70974750649ba29b0090e410ecde","id":785751589,"state":"pending","description":"10/30
        translations complete.","target_url":"https://www.transifex.com//test-project-88/content","context":"continuous-localization/txgh","created_at":"2016-10-04T21:42:37Z","updated_at":"2016-10-04T21:42:37Z","creator":{"login":"txgh-bot","id":16723366,"avatar_url":"https://avatars.githubusercontent.com/u/16723366?v=3","gravatar_id":"","url":"https://api.github.com/users/txgh-bot","html_url":"https://github.com/txgh-bot","followers_url":"https://api.github.com/users/txgh-bot/followers","following_url":"https://api.github.com/users/txgh-bot/following{/other_user}","gists_url":"https://api.github.com/users/txgh-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/txgh-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/txgh-bot/subscriptions","organizations_url":"https://api.github.com/users/txgh-bot/orgs","repos_url":"https://api.github.com/users/txgh-bot/repos","events_url":"https://api.github.com/users/txgh-bot/events{/privacy}","received_events_url":"https://api.github.com/users/txgh-bot/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 04 Oct 2016 21:42:37 GMT
recorded_with: VCR 3.0.3
