---
http_interactions:
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_test_hook/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"source_language_code\": \"en\", \n    \"name\": \"config/locales/en.yml
        (heads/test_hook)\", \n    \"i18n_type\": \"YML\", \n    \"priority\": \"1\",
        \n    \"slug\": \"enyml-heads_test_hook\", \n    \"categories\": [\n        \"author:Ivan_Danci
        branch:heads/test_hook\"\n    ], \n    \"metadata\": []\n}"
  recorded_at: Thu, 26 Mar 2020 17:45:39 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_test_hook/translation/de/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"content": "de:\n  test: \"\"\n  test2: \"\"\n  test3: \"\"\n  test4:
        \"\"\n  test5: \"\"\n  test6: \"\"\n  test7: \"\"\n  test8: \"\"\n  test9:
        \"\"\n  test10: \"\"\n  test11: \"\"\n  test12: \"\"\n", "mimetype": "text/plain"}'
  recorded_at: Thu, 26 Mar 2020 17:45:40 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/files/config%2Flocales%2Fde.yml?ref=test_hook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ks5-_9NaSiL-9NSQRar1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b628a5601cd22ec82aa67ab59f4b3277"
      X-Gitlab-Blob-Id:
      - 40ee703622d33b3d3e9cf0a6bfccf343ef6803d9
      X-Gitlab-Commit-Id:
      - 3cb2cae6db2f31fa91061a0e04cc2cbcc26502d6
      X-Gitlab-Content-Sha256:
      - f93c177a9eacf7f2d3d4a33f353d9d94dbd884fd68897a7a24893ce5a24f5721
      X-Gitlab-Encoding:
      - base64
      X-Gitlab-File-Name:
      - de.yml
      X-Gitlab-File-Path:
      - config/locales/de.yml
      X-Gitlab-Last-Commit-Id:
      - 04151b55df42794241ec36b772e8de4c2f944a97
      X-Gitlab-Ref:
      - test_hook
      X-Gitlab-Size:
      - '193'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1585244800'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 17:46:40 GMT
      Gitlab-Lb:
      - fe-15-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_name":"de.yml","file_path":"config/locales/de.yml","size":193,"encoding":"base64","content_sha256":"f93c177a9eacf7f2d3d4a33f353d9d94dbd884fd68897a7a24893ce5a24f5721","ref":"test_hook","blob_id":"40ee703622d33b3d3e9cf0a6bfccf343ef6803d9","commit_id":"3cb2cae6db2f31fa91061a0e04cc2cbcc26502d6","last_commit_id":"04151b55df42794241ec36b772e8de4c2f944a97","content":"ZGU6CiAgdGVzdDogInRlc3QiCiAgdGVzdDI6ICJ0ZXN0MiIKICB0ZXN0MzogInRlc3QzIgogIHRlc3Q0OiAidGVzdDQiCiAgdGVzdDU6ICJ0ZXN0NSIKICB0ZXN0NjogInRlc3Q2IgogIHRlc3Q3OiAidGVzdDciCiAgdGVzdDg6ICJ0ZXN0OCIKICB0ZXN0OTogInRlc3Q5IgogIHRlc3QxMDogInRlc3QxMCIKICB0ZXN0MTE6ICJ0ZXN0MTEiCg=="}'
  recorded_at: Thu, 26 Mar 2020 17:45:40 GMT
- request:
    method: put
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/files/config%2Flocales%2Fde.yml
    body:
      encoding: UTF-8
      string: branch=test_hook&commit_message=Updating%20de%20translations%20in%20config%2Flocales%2Fde.yml&encoding=base64&content=ZGU6CiAgdGVzdDogIiIKICB0ZXN0MjogIiIKICB0ZXN0MzogIiIKICB0ZXN0%0ANDogIiIKICB0ZXN0NTogIiIKICB0ZXN0NjogIiIKICB0ZXN0NzogIiIKICB0%0AZXN0ODogIiIKICB0ZXN0OTogIiIKICB0ZXN0MTA6ICIiCiAgdGVzdDExOiAi%0AIgogIHRlc3QxMjogIiIK%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ks5-_9NaSiL-9NSQRar1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d144d1ccdd0ce787ec8b2db8284502d"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1585244802'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 17:46:42 GMT
      Gitlab-Lb:
      - fe-23-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"file_path":"config/locales/de.yml","branch":"test_hook"}'
  recorded_at: Thu, 26 Mar 2020 17:45:42 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resources/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"source_language_code\": \"en\", \n        \"name\":
        \"config/locales/en.yml (heads/master)\", \n        \"i18n_type\": \"YAML_GENERIC\",
        \n        \"priority\": \"0\", \n        \"slug\": \"enyml-heads_master\",
        \n        \"categories\": [\n            \"branch:heads/master\", \n            \"author:Ivan_Danci\"\n
        \       ], \n        \"metadata\": []\n    }, \n    {\n        \"source_language_code\":
        \"en\", \n        \"name\": \"config/locales/en.yml (heads/test_hook)\", \n
        \       \"i18n_type\": \"YML\", \n        \"priority\": \"1\", \n        \"slug\":
        \"enyml-heads_test_hook\", \n        \"categories\": [\n            \"author:Ivan_Danci
        branch:heads/test_hook\"\n        ], \n        \"metadata\": []\n    }\n]"
  recorded_at: Thu, 26 Mar 2020 17:45:43 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/repository/commits/test_hook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ks5-_9NaSiL-9NSQRar1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7e45f22cd0f3a45bdd5e1f9ebccb902b"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '4'
      Ratelimit-Remaining:
      - '596'
      Ratelimit-Reset:
      - '1585244803'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 17:46:43 GMT
      Gitlab-Lb:
      - fe-20-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":"1184cbc1aef20170127b190b8c999fe6c7bbe3ce","short_id":"1184cbc1","created_at":"2020-03-26T17:45:41.000+00:00","parent_ids":["3cb2cae6db2f31fa91061a0e04cc2cbcc26502d6"],"title":"Updating
        de translations in config/locales/de.yml","message":"Updating de translations
        in config/locales/de.yml","author_name":"Ivan Danci","author_email":"danci.ivan@gmail.com","authored_date":"2020-03-26T17:45:41.000+00:00","committer_name":"Ivan
        Danci","committer_email":"danci.ivan@gmail.com","committed_date":"2020-03-26T17:45:41.000+00:00","web_url":"https://gitlab.com/idanci/txgl-test/-/commit/1184cbc1aef20170127b190b8c999fe6c7bbe3ce","stats":{"additions":12,"deletions":11,"total":23},"status":null,"project_id":17514841,"last_pipeline":null}'
  recorded_at: Thu, 26 Mar 2020 17:45:43 GMT
- request:
    method: get
    uri: https://www.transifex.com/api/2/project/txgl-test/resource/enyml-heads_test_hook/stats/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"de\": {\n        \"proofread\": 0, \n        \"proofread_percentage\":
        \"0%\", \n        \"reviewed_percentage\": \"0%\", \n        \"completed\":
        \"0%\", \n        \"untranslated_words\": 12, \n        \"last_commiter\":
        \"txgh.user\", \n        \"reviewed\": 0, \n        \"translated_entities\":
        0, \n        \"translated_words\": 0, \n        \"last_update\": \"2020-03-26
        17:18:43\", \n        \"untranslated_entities\": 12\n    }, \n    \"en\":
        {\n        \"proofread\": 0, \n        \"proofread_percentage\": \"0%\", \n
        \       \"reviewed_percentage\": \"0%\", \n        \"completed\": \"100%\",
        \n        \"untranslated_words\": 0, \n        \"last_commiter\": \"txgh.user\",
        \n        \"reviewed\": 0, \n        \"translated_entities\": 12, \n        \"translated_words\":
        12, \n        \"last_update\": \"2020-03-26 17:18:43\", \n        \"untranslated_entities\":
        0\n    }\n}"
  recorded_at: Thu, 26 Mar 2020 17:45:43 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/idanci%2Ftxgl-test/statuses/1184cbc1?context=continuous-localization/txgh&description=12/24%20translations%20complete.&state=pending&target_url=https://www.transifex.com/lumos-labs/txgl-test/content
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - ks5-_9NaSiL-9NSQRar1
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4f089464f825d0e8ba2aab1f2930043"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '5'
      Ratelimit-Remaining:
      - '595'
      Ratelimit-Reset:
      - '1585244804'
      Ratelimit-Resettime:
      - Thu, 26 Mar 2020 17:46:44 GMT
      Gitlab-Lb:
      - fe-11-lb-gprd
      Gitlab-Sv:
      - localhost
    body:
      encoding: UTF-8
      string: '{"id":487244188,"sha":"1184cbc1aef20170127b190b8c999fe6c7bbe3ce","ref":"test_hook","status":"pending","name":"continuous-localization/txgh","target_url":"https://www.transifex.com/lumos-labs/txgl-test/content","description":"12/24
        translations complete.","created_at":"2020-03-26T17:45:44.507Z","started_at":null,"finished_at":null,"allow_failure":false,"coverage":null,"author":{"id":745271,"name":"Ivan
        Danci","username":"idanci","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dbda838e9b7bca615829ac151e01f3c0?s=80\u0026d=identicon","web_url":"https://gitlab.com/idanci"}}'
  recorded_at: Thu, 26 Mar 2020 17:45:44 GMT
recorded_with: VCR 3.0.3
