---
http_interactions:
- request:
    method: get
    uri: https://txgh.bot:<TRANSIFEX_PASSWORD>@www.transifex.com/api/2/project/test-project-88/resource/samplepo/translation/el_GR/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      Last-Modified:
      - Tue, 19 Jan 2016 20:36:01 GMT
    body:
      encoding: UTF-8
      string: "{\n    \"content\": \"# Translation file for Transifex.\\n# Copyright
        (C) 2007-2010 Indifex Ltd.\\n# This file is distributed under the same license
        as the Transifex package.\\n# \\n# Translators:\\n# Translators:\\nmsgid \\\"\\\"\\nmsgstr
        \\\"\\\"\\n\\\"Project-Id-Version: test-project\\\\n\\\"\\n\\\"Report-Msgid-Bugs-To:
        \\\\n\\\"\\n\\\"POT-Creation-Date: 2015-02-17 20:10+0000\\\\n\\\"\\n\\\"PO-Revision-Date:
        2016-01-19 19:08+0000\\\\n\\\"\\n\\\"Last-Translator: Ilias-Dimitrios Vrachnis\\\\n\\\"\\n\\\"Language-Team:
        Greek (Greece) (http://www.transifex.com/txgh-test/test-project-88/language/el_GR/)\\\\n\\\"\\n\\\"MIME-Version:
        1.0\\\\n\\\"\\n\\\"Content-Type: text/plain; charset=UTF-8\\\\n\\\"\\n\\\"Content-Transfer-Encoding:
        8bit\\\\n\\\"\\n\\\"Language: el_GR\\\\n\\\"\\n\\\"Plural-Forms: nplurals=2;
        plural=(n != 1);\\\\n\\\"\\n\\nmsgid \\\"One\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid
        \\\"Two\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid \\\"Three\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid
        \\\"Four\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid \\\"Five\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid
        \\\"Six\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid \\\"Seven\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid
        \\\"Eight\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid \\\"Nine\\\"\\nmsgstr \\\"\\\"\\n\\nmsgid
        \\\"Ten\\\"\\nmsgstr \\\"\\\"\\n\", \n    \"mimetype\": \"text/x-po\"\n}"
  recorded_at: Tue, 19 Jan 2016 20:36:12 GMT
- request:
    method: post
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"# Translation file for Transifex.\n# Copyright (C) 2007-2010
        Indifex Ltd.\n# This file is distributed under the same license as the Transifex
        package.\n# \n# Translators:\n# Translators:\nmsgid \"\"\nmsgstr \"\"\n\"Project-Id-Version:
        test-project\\n\"\n\"Report-Msgid-Bugs-To: \\n\"\n\"POT-Creation-Date: 2015-02-17
        20:10+0000\\n\"\n\"PO-Revision-Date: 2016-01-19 19:08+0000\\n\"\n\"Last-Translator:
        Ilias-Dimitrios Vrachnis\\n\"\n\"Language-Team: Greek (Greece) (http://www.transifex.com/txgh-test/test-project-88/language/el_GR/)\\n\"\n\"MIME-Version:
        1.0\\n\"\n\"Content-Type: text/plain; charset=UTF-8\\n\"\n\"Content-Transfer-Encoding:
        8bit\\n\"\n\"Language: el_GR\\n\"\n\"Plural-Forms: nplurals=2; plural=(n !=
        1);\\n\"\n\nmsgid \"One\"\nmsgstr \"\"\n\nmsgid \"Two\"\nmsgstr \"\"\n\nmsgid
        \"Three\"\nmsgstr \"\"\n\nmsgid \"Four\"\nmsgstr \"\"\n\nmsgid \"Five\"\nmsgstr
        \"\"\n\nmsgid \"Six\"\nmsgstr \"\"\n\nmsgid \"Seven\"\nmsgstr \"\"\n\nmsgid
        \"Eight\"\nmsgstr \"\"\n\nmsgid \"Nine\"\nmsgstr \"\"\n\nmsgid \"Ten\"\nmsgstr
        \"\"\n","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1453236487'
      Etag:
      - '"ed992de3605511d4d93bfd55ab933696"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/540a3d944ac19f573e756de687c8c4f3f9847b53
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"540a3d944ac19f573e756de687c8c4f3f9847b53","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/540a3d944ac19f573e756de687c8c4f3f9847b53"}'
  recorded_at: Tue, 19 Jan 2016 20:36:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '1453236487'
      Last-Modified:
      - Mon, 11 Jan 2016 23:45:43 GMT
      Etag:
      - W/"6e246bafa55ada434e7e365191652c97"
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master","object":{"sha":"33d77b9405900bd0bc9172e9bac23df90657342e","type":"commit","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits/33d77b9405900bd0bc9172e9bac23df90657342e"}}'
  recorded_at: Tue, 19 Jan 2016 20:36:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/commits/33d77b9405900bd0bc9172e9bac23df90657342e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4937'
      X-Ratelimit-Reset:
      - '1453236487'
      Last-Modified:
      - Tue, 19 Jan 2016 20:26:12 GMT
      Etag:
      - W/"2ccd34f2a5a612c6927ccbcd69040877"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"33d77b9405900bd0bc9172e9bac23df90657342e","commit":{"author":{"name":"txgh-bot","email":"txgh.bot@gmail.com","date":"2016-01-19T20:26:12Z"},"committer":{"name":"txgh-bot","email":"txgh.bot@gmail.com","date":"2016-01-19T20:26:12Z"},"message":"Updating
        translations for translations/el_GR/sample.po [skip ci]","tree":{"sha":"4ee65f809366225a4d575ad47f0f8c2a05a6d460","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/trees/4ee65f809366225a4d575ad47f0f8c2a05a6d460"},"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits/33d77b9405900bd0bc9172e9bac23df90657342e","comment_count":0},"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/commits/33d77b9405900bd0bc9172e9bac23df90657342e","html_url":"https://github.com/txgh-bot/txgh-test-resources/commit/33d77b9405900bd0bc9172e9bac23df90657342e","comments_url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/commits/33d77b9405900bd0bc9172e9bac23df90657342e/comments","author":{"login":"txgh-bot","id":16723366,"avatar_url":"https://avatars.githubusercontent.com/u/16723366?v=3","gravatar_id":"","url":"https://api.github.com/users/txgh-bot","html_url":"https://github.com/txgh-bot","followers_url":"https://api.github.com/users/txgh-bot/followers","following_url":"https://api.github.com/users/txgh-bot/following{/other_user}","gists_url":"https://api.github.com/users/txgh-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/txgh-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/txgh-bot/subscriptions","organizations_url":"https://api.github.com/users/txgh-bot/orgs","repos_url":"https://api.github.com/users/txgh-bot/repos","events_url":"https://api.github.com/users/txgh-bot/events{/privacy}","received_events_url":"https://api.github.com/users/txgh-bot/received_events","type":"User","site_admin":false},"committer":{"login":"txgh-bot","id":16723366,"avatar_url":"https://avatars.githubusercontent.com/u/16723366?v=3","gravatar_id":"","url":"https://api.github.com/users/txgh-bot","html_url":"https://github.com/txgh-bot","followers_url":"https://api.github.com/users/txgh-bot/followers","following_url":"https://api.github.com/users/txgh-bot/following{/other_user}","gists_url":"https://api.github.com/users/txgh-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/txgh-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/txgh-bot/subscriptions","organizations_url":"https://api.github.com/users/txgh-bot/orgs","repos_url":"https://api.github.com/users/txgh-bot/repos","events_url":"https://api.github.com/users/txgh-bot/events{/privacy}","received_events_url":"https://api.github.com/users/txgh-bot/received_events","type":"User","site_admin":false},"parents":[{"sha":"96c02d15c54811de9ca86d3ddd043d7950358f80","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/commits/96c02d15c54811de9ca86d3ddd043d7950358f80","html_url":"https://github.com/txgh-bot/txgh-test-resources/commit/96c02d15c54811de9ca86d3ddd043d7950358f80"}],"stats":{"total":0,"additions":0,"deletions":0},"files":[]}'
  recorded_at: Tue, 19 Jan 2016 20:36:13 GMT
- request:
    method: post
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"4ee65f809366225a4d575ad47f0f8c2a05a6d460","tree":[{"path":"translations/el_GR/sample.po","mode":"100644","type":"blob","sha":"540a3d944ac19f573e756de687c8c4f3f9847b53"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4936'
      X-Ratelimit-Reset:
      - '1453236487'
      Etag:
      - '"285d1085d15dc469819c68a1aafc59be"'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/txgh-bot/txgh-test-resources/git/trees/4ee65f809366225a4d575ad47f0f8c2a05a6d460
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"4ee65f809366225a4d575ad47f0f8c2a05a6d460","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/trees/4ee65f809366225a4d575ad47f0f8c2a05a6d460","tree":[{"path":"README.md","mode":"100644","type":"blob","sha":"cee445fa5bceaeb83c8d443b28f1647c2feff565","size":53,"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/cee445fa5bceaeb83c8d443b28f1647c2feff565"},{"path":"sample.po","mode":"100644","type":"blob","sha":"a93e31a00137e0bd23db5bc7720568f8e908b2b6","size":855,"url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/blobs/a93e31a00137e0bd23db5bc7720568f8e908b2b6"},{"path":"translations","mode":"040000","type":"tree","sha":"64881902c6515e26c22e022abc0bedeaa15eafdc","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/trees/64881902c6515e26c22e022abc0bedeaa15eafdc"}],"truncated":false}'
  recorded_at: Tue, 19 Jan 2016 20:36:13 GMT
- request:
    method: post
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Updating translations for translations/el_GR/sample.po
        [skip ci]","tree":"4ee65f809366225a4d575ad47f0f8c2a05a6d460","parents":["33d77b9405900bd0bc9172e9bac23df90657342e"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 201
     [...]
- request:
    method: patch
    uri: https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master
    body:
      encoding: UTF-8
      string: '{"sha":"0ed84551e879a3fe3181bb758b08f792ebec4769","force":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1453236487'
      Etag:
      - W/"1e7c9a332c99e26054894d200fcba737"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/refs/heads/master","object":{"sha":"0ed84551e879a3fe3181bb758b08f792ebec4769","type":"commit","url":"https://api.github.com/repos/txgh-bot/txgh-test-resources/git/commits/0ed84551e879a3fe3181bb758b08f792ebec4769"}}'
  recorded_at: Tue, 19 Jan 2016 20:36:14 GMT
recorded_with: VCR 2.9.3
