!!! 5
%html
  %head
    %title Strava localization console :: Push result
  %body
    %p
      The following files were pushed to the localization vendor
    %hr
    - @files.each do |file|
      %fieldset
        %pre
          :escaped
            #{file[:content]}
        %legend= "#{file[:path]} @ #{file[:sha]}"