!!! 5
%html
  %head
    %title Strava localization console :: Git tags
  %body
    %p
      The following files are configured as translatable resources for this project
    %ul
      - @paths.each do |path|
        %li
          = path
    %p
      Pick a Git tag at which these files should be checked out
    %form{'action' => "/push/#{@project}", 'method' => 'post'}
      %select{'name' => 'commit_sha'}
        - @refs.each do |ref|
          -# if not ref.name =~ /nightly/
          %option{'value' => "#{ref.commit.sha}"}
            = ref.name
      %input{'type' => 'submit', 'value' => 'Push English content to vendor'}