!!! 5
%html
  %head
    %title Strava localization server
  %body
    %h1
      Localization projects
    %ul
      %li
        iPhone
        %ul
          %li
            %a(href="/tags/iphone") Pick Git tag for translation request
          %li
            %a(href="https://www.transifex.com/projects/p/strava-ios/") iPhone project on Transifex
          %li
            %a(href="/status/iphone/fr") See French translation status
      %li
        Android
        %ul
          %li
            %a(href="/tags/android") Pick Git tag for translation request
          %li
            %a(href="https://www.transifex.com/projects/p/strava-android/") Android project on Transifex
          %li
            %a(href="/status/android/fr") See French translation status
      %li
        Challenges
        %ul
          %li
            %a(href="https://www.transifex.com/projects/p/strava-challenges/") Challenges project on Transifex